<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fvt.fatburnproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FAQUserDetailActivity"></activity>
        <activity android:name=".UserFAQActivity" />
        <activity android:name=".AdminFAQActivityDetail" />
        <activity android:name=".AdminFAQActivity" />
        <activity android:name=".AdminAddAboutActivity" />
        <activity android:name=".AdminAddNewActivity" />
        <activity
            android:name=".AdminAddClassActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".AdminVeneuClassDetailActivity" />
        <activity android:name=".AdminOnlineClassDetailActivity" />
        <activity android:name=".AdminMainActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".VeneClassDetailActivity" />
        <activity android:name=".VeneuActivity" />
        <activity android:name=".OnlineActivity" />
        <activity android:name=".ClassInformationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>